# About

Let's work through the first of the three steps mentioned in 04.

In [3]:
import sys; sys.path.append("../src/")
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
gtfs_r = dict()

for n in range(0, 60, 5):
    print(n + 1)
    gtfs_r[n] = fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-18-09-' + str(1 + n).zfill(2))
    
print("Done!")

1
6
11
16
21
26
31
36
41
46
51
56
Done!

In [6]:
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

In [7]:
action_log = parse_gtfs_into_action_log(gtfs_r[0])

In [8]:
len(action_log)

12045

In [15]:
action_log.head()

,trip_id,start_date,route_id,action,stop_id,timestamp
0,047600_1..S02R,20140918,1,EXPECTED_TO_ARRIVE_AT,138S,1.411045e+09
1,047600_1..S02R,20140918,1,EXPECTED_TO_DEPART_AT,138S,1.411045e+09
2,047600_1..S02R,20140918,1,EXPECTED_TO_ARRIVE_AT,139S,1.411045e+09
3,047600_1..S02R,20140918,1,EXPECTED_TO_DEPART_AT,139S,1.411045e+09
4,047600_1..S02R,20140918,1,EXPECTED_TO_SKIP,140S,1.411045e+09

In [20]:
action_log['action'].value_counts()

EXPECTED_TO_DEPART_AT    5792
EXPECTED_TO_ARRIVE_AT    5792
EXPECTED_TO_SKIP          179
Name: action, dtype: int64

In [9]:
action_log['action'].value_counts()

EXPECTED_TO_ARRIVE_AT    6072
EXPECTED_TO_DEPART_AT    5886
STOPPED_AT                 85
EXPECTED_TO_SKIP            2
Name: action, dtype: int64

In [89]:
from processing import parse_message_into_action_log

In [98]:
parse_message_into_action_log(gtfs_r[0].entity[0], gtfs_r[0].entity[1])

          trip_id route_id                 action stop_id     timestamp
0  047600_1..S02R        1             ARRIVED_AT    137S  1.411045e+09
1  047600_1..S02R        1  EXPECTED_TO_ARRIVE_AT    138S  1.411045e+09
2  047600_1..S02R        1  EXPECTED_TO_DEPART_AT    138S  1.411045e+09
3  047600_1..S02R        1  EXPECTED_TO_ARRIVE_AT    139S  1.411045e+09
4  047600_1..S02R        1  EXPECTED_TO_DEPART_AT    139S  1.411045e+09
5  047600_1..S02R        1     EXPECTED_TO_END_AT    140S  1.411045e+09

In [99]:
parse_message_into_action_log(gtfs_r[0].entity[2], gtfs_r[0].entity[3])

          trip_id route_id                 action stop_id     timestamp
0  048150_1..S07R        1             ARRIVED_AT    136S  1.411045e+09
1  048150_1..S07R        1  EXPECTED_TO_ARRIVE_AT    137S  1.411045e+09
2  048150_1..S07R        1  EXPECTED_TO_DEPART_AT    137S  1.411045e+09
3  048150_1..S07R        1  EXPECTED_TO_ARRIVE_AT    138S  1.411045e+09
4  048150_1..S07R        1  EXPECTED_TO_DEPART_AT    138S  1.411045e+09
5  048150_1..S07R        1  EXPECTED_TO_ARRIVE_AT    139S  1.411045e+09
6  048150_1..S07R        1  EXPECTED_TO_DEPART_AT    139S  1.411045e+09
7  048150_1..S07R        1     EXPECTED_TO_END_AT    140S  1.411045e+09

In [100]:
parse_message_into_action_log(gtfs_r[0].entity[4], gtfs_r[0].entity[5])

          trip_id route_id                 action stop_id     timestamp
0  048400_1..S02R        1             ARRIVED_AT    135S  1.411045e+09
1  048400_1..S02R        1  EXPECTED_TO_ARRIVE_AT    136S  1.411045e+09
2  048400_1..S02R        1  EXPECTED_TO_DEPART_AT    136S  1.411045e+09
3  048400_1..S02R        1  EXPECTED_TO_ARRIVE_AT    137S  1.411045e+09
4  048400_1..S02R        1  EXPECTED_TO_DEPART_AT    137S  1.411045e+09
5  048400_1..S02R        1  EXPECTED_TO_ARRIVE_AT    138S  1.411045e+09
6  048400_1..S02R        1  EXPECTED_TO_DEPART_AT    138S  1.411045e+09
7  048400_1..S02R        1  EXPECTED_TO_ARRIVE_AT    139S  1.411045e+09
8  048400_1..S02R        1  EXPECTED_TO_DEPART_AT    139S  1.411045e+09
9  048400_1..S02R        1     EXPECTED_TO_END_AT    140S  1.411046e+09

In [101]:
parse_message_into_action_log(gtfs_r[0].entity[6], gtfs_r[0].entity[7])

           trip_id route_id                 action stop_id     timestamp
0   048600_1..S02R        1             ARRIVED_AT    134S  1.411045e+09
1   048600_1..S02R        1  EXPECTED_TO_ARRIVE_AT    135S  1.411045e+09
2   048600_1..S02R        1  EXPECTED_TO_DEPART_AT    135S  1.411045e+09
3   048600_1..S02R        1  EXPECTED_TO_ARRIVE_AT    136S  1.411045e+09
4   048600_1..S02R        1  EXPECTED_TO_DEPART_AT    136S  1.411045e+09
5   048600_1..S02R        1  EXPECTED_TO_ARRIVE_AT    137S  1.411045e+09
6   048600_1..S02R        1  EXPECTED_TO_DEPART_AT    137S  1.411045e+09
7   048600_1..S02R        1  EXPECTED_TO_ARRIVE_AT    138S  1.411045e+09
8   048600_1..S02R        1  EXPECTED_TO_DEPART_AT    138S  1.411045e+09
9   048600_1..S02R        1  EXPECTED_TO_ARRIVE_AT    139S  1.411045e+09
10  048600_1..S02R        1  EXPECTED_TO_DEPART_AT    139S  1.411046e+09
11  048600_1..S02R        1     EXPECTED_TO_END_AT    140S  1.411046e+09

In [77]:
gtfs_r[0].entity[1]

id: "000002"
vehicle {
  trip {
    trip_id: "047600_1..S02R"
    start_date: "20140918"
    route_id: "1"
  }
  current_stop_sequence: 35
  current_status: STOPPED_AT
  timestamp: 1411044718
  stop_id: "137S"
}

In [63]:
gtfs_r[0].entity[1].vehicle

trip {
  trip_id: "047600_1..S02R"
  start_date: "20140918"
  route_id: "1"
}
current_stop_sequence: 35
current_status: STOPPED_AT
timestamp: 1411044718
stop_id: "137S"

In [68]:
gtfs_r[0].entity[1].vehicle.current_status

1

In [69]:
[gtfs_r[0].entity[i].vehicle.current_status for i in range(0, 50)]

[2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 0,
 2,
 1]

In [ ]:
gtfs_r[0].entity[i].vehicle.current_status

In [67]:
dir(gtfs_r[0].entity[1])

['ALERT_FIELD_NUMBER',
 'ByteSize',
 'Clear',
 'ClearExtension',
 'ClearField',
 'CopyFrom',
 'DESCRIPTOR',
 'DiscardUnknownFields',
 'Extensions',
 'FindInitializationErrors',
 'FromString',
 'HasExtension',
 'HasField',
 'ID_FIELD_NUMBER',
 'IS_DELETED_FIELD_NUMBER',
 'IsInitialized',
 'ListFields',
 'MergeFrom',
 'MergeFromString',
 'ParseFromString',
 'RegisterExtension',
 'SerializePartialToString',
 'SerializeToString',
 'SetInParent',
 'TRIP_UPDATE_FIELD_NUMBER',
 'VEHICLE_FIELD_NUMBER',
 'WhichOneof',
 '_InternalParse',
 '_InternalSerialize',
 '_Modified',
 '_SetListener',
 '_UpdateOneofState',
 '__class__',
 '__deepcopy__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_cached_byte_size',
 '_cached_byte_size_dirty',
 '_decoders_by_tag',
 '_extensions_by_name',
 '_extensions_by_number',
 '_fields',
 '_is_present_in_parent',
 '_listener',
 '_listener_for_children',
 '_oneofs',
 '_unknown_fields',
 'alert',
 'id',
 'is_deleted',
 'trip_update',
 'vehicle']

In [ ]:
ex1 = fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-17-09-31')