# About

Let's work through the first of the three steps mentioned in 04.

In [2]:
import sys; sys.path.append("../src/")
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
gtfs_r = dict()

for n in range(0, 60, 5):
    print(n + 1)
    gtfs_r[n] = fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-18-09-' + str(1 + n).zfill(2))
    
print("Done!")

1
6
11
16
21
26
31
36
41
46
51
56
Done!

In [6]:
action_log = parse_gtfs_into_action_log(gtfs_r[0])

In [14]:
len(action_log)

11763

In [15]:
action_log.head()

,trip_id,start_date,route_id,action,stop_id,timestamp
0,047600_1..S02R,20140918,1,EXPECTED_TO_ARRIVE_AT,138S,1.411045e+09
1,047600_1..S02R,20140918,1,EXPECTED_TO_DEPART_AT,138S,1.411045e+09
2,047600_1..S02R,20140918,1,EXPECTED_TO_ARRIVE_AT,139S,1.411045e+09
3,047600_1..S02R,20140918,1,EXPECTED_TO_DEPART_AT,139S,1.411045e+09
4,047600_1..S02R,20140918,1,EXPECTED_TO_SKIP,140S,1.411045e+09

In [20]:
action_log['action'].value_counts()

EXPECTED_TO_DEPART_AT    5792
EXPECTED_TO_ARRIVE_AT    5792
EXPECTED_TO_SKIP          179
Name: action, dtype: int64

In [22]:
gtfs_r[0].entity[1]

id: "000002"
vehicle {
  trip {
    trip_id: "047600_1..S02R"
    start_date: "20140918"
    route_id: "1"
  }
  current_stop_sequence: 35
  current_status: STOPPED_AT
  timestamp: 1411044718
  stop_id: "137S"
}

In [ ]:
ex1 = fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-17-09-31')