# About

Let's work through the first of the three steps mentioned in 04.

First, we'll load a bunch of slices of data in. `fetch_archival_gtfs_realtime_data` is for getting specific records.

In [1]:
import sys; sys.path.append("../src/")
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
gtfs_r = dict()

for n in range(0, 60, 5):
    print(n + 1)
    gtfs_r[n] = fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-18-09-' + str(1 + n).zfill(2))
    
print("Done!")

1
6
11
16
21
26
31
36
41
46
51
56
Done!

In [6]:
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

`parse_gtfs_into_action_log` is a method for transforming two GTFS-Realtime messages, one of a trip update and one of a vehicle update (which may be `None`), into an action log.

In [28]:
from processing import parse_message_into_action_log, mta_archival_time_to_unix_timestamp

In [29]:
import datetime
import pytz

parse_message_into_action_log(gtfs_r[0].entity[0], gtfs_r[0].entity[1], 
                              mta_archival_time_to_unix_timestamp('2014-09-18-09-01'))

,trip_id,route_id,action,stop_id,time_assigned,information_time
0,047600_1..S02R,1,STOPPED_AT,137S,1.411045e+09,1.411049e+09
1,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,138S,1.411045e+09,1.411049e+09
2,047600_1..S02R,1,EXPECTED_TO_DEPART_AT,138S,1.411045e+09,1.411049e+09
3,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,139S,1.411045e+09,1.411049e+09
4,047600_1..S02R,1,EXPECTED_TO_DEPART_AT,139S,1.411045e+09,1.411049e+09
5,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,140S,1.411045e+09,1.411049e+09

In [31]:
parse_message_into_action_log(gtfs_r[0].entity[0], gtfs_r[0].entity[1], 
                              mta_archival_time_to_unix_timestamp('2014-09-18-09-01'))

,trip_id,route_id,action,stop_id,time_assigned,information_time
0,047600_1..S02R,1,STOPPED_AT,137S,1.411045e+09,1.411049e+09
1,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,138S,1.411045e+09,1.411049e+09
2,047600_1..S02R,1,EXPECTED_TO_DEPART_AT,138S,1.411045e+09,1.411049e+09
3,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,139S,1.411045e+09,1.411049e+09
4,047600_1..S02R,1,EXPECTED_TO_DEPART_AT,139S,1.411045e+09,1.411049e+09
5,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,140S,1.411045e+09,1.411049e+09

In [32]:
parse_message_into_action_log(gtfs_r[0].entity[26], gtfs_r[0].entity[27], 
                              mta_archival_time_to_unix_timestamp('2014-09-18-09-01'))

,trip_id,route_id,action,stop_id,time_assigned,information_time
0,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,120N,1.411045e+09,1.411049e+09
1,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,120N,1.411045e+09,1.411049e+09
2,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,119N,1.411045e+09,1.411049e+09
3,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,119N,1.411045e+09,1.411049e+09
4,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,118N,1.411045e+09,1.411049e+09
5,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,118N,1.411045e+09,1.411049e+09
6,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,117N,1.411046e+09,1.411049e+09
7,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,117N,1.411046e+09,1.411049e+09
8,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,116N,1.411046e+09,1.411049e+09
9,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,116N,1.411046e+09,1.411049e+09
10,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,115N,1.411046e+09,1.411049e+09
11,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,115N,1.411046e+09,1.411049e+09
12,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,114N,1.411046e+09,1.411049e+09
13,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,114N,1.411046e+09,1.411049e+09
14,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,113N,1.411046e+09,1.411049e+09
15,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,113N,1.411046e+09,1.411049e+09
16,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,112N,1.411046e+09,1.411049e+09
17,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,112N,1.411046e+09,1.411049e+09
18,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,111N,1.411046e+09,1.411049e+09
19,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,111N,1.411046e+09,1.411049e+09
20,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,110N,1.411046e+09,1.411049e+09
21,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,110N,1.411046e+09,1.411049e+09
22,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,109N,1.411046e+09,1.411049e+09
23,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,109N,1.411046e+09,1.411049e+09
24,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,108N,1.411047e+09,1.411049e+09
25,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,108N,1.411047e+09,1.411049e+09
26,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,107N,1.411047e+09,1.411049e+09
27,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,107N,1.411047e+09,1.411049e+09
28,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,106N,1.411047e+09,1.411049e+09
29,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,106N,1.411047e+09,1.411049e+09
30,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,104N,1.411047e+09,1.411049e+09
31,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,104N,1.411047e+09,1.411049e+09
32,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,103N,1.411047e+09,1.411049e+09
33,050850_1..N02R,1,EXPECTED_TO_DEPART_AT,103N,1.411047e+09,1.411049e+09
34,050850_1..N02R,1,EXPECTED_TO_ARRIVE_AT,101N,1.411047e+09,1.411049e+09

In these logs, `time_assigned` is the time assigned to the record (either a forward estimate on something yet to happen, or a time in the past at which a stop had occurred), while `information_time` is the time at which this information was made available in the `gtfs-r` record.

`parse_gtfs_into_action_log` does this for an entire `gtfs-realtime` record. It takes a LONG time to process, I may need to profile it to see where I can speed it up.

In [28]:
action_log = parse_gtfs_into_action_log(gtfs_r[0])

In [29]:
len(action_log)

12045