# About

The codebase is starting to get seriously complicated. Now, before digging even deeper into trip log generation, is a good time to unit test the action log conversion.

In [1]:
import sys; sys.path.append("../src/")
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

In [2]:
%load_ext autoreload
%autoreload 2

Create the local archival record, used for testing purposes.

In [12]:
with open("../src/tests/data/gtfs_realtime_pull_1.dat", "wb") as f:
    f.write(fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-18-09-01', raw=True))

Read it in...

In [14]:
from google.transit import gtfs_realtime_pb2

with open("../src/tests/data/gtfs_realtime_pull_1.dat", "rb") as f:
    gtfs_r0 = gtfs_realtime_pb2.FeedMessage()
    gtfs_r0.ParseFromString(f.read())

In [19]:
from processing import parse_message_into_action_log

Case 1: a train that is `STOPPED_AT` to the first stop remaining in its trip sequence, with a bunch more stops to come.

In [20]:
parse_message_into_action_log(gtfs_r0.entity[0], gtfs_r0.entity[1], None)

,trip_id,route_id,action,stop_id,time_assigned,information_time
0,047600_1..S02R,1,STOPPED_AT,137S,1.411045e+09,None
1,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,138S,1.411045e+09,None
2,047600_1..S02R,1,EXPECTED_TO_DEPART_AT,138S,1.411045e+09,None
3,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,139S,1.411045e+09,None
4,047600_1..S02R,1,EXPECTED_TO_DEPART_AT,139S,1.411045e+09,None
5,047600_1..S02R,1,EXPECTED_TO_ARRIVE_AT,140S,1.411045e+09,None

In [21]:
gtfs_r0.entity[0]

id: "000001"
trip_update {
  trip {
    trip_id: "047600_1..S02R"
    start_date: "20140918"
    route_id: "1"
  }
  stop_time_update {
    arrival {
      time: 1411044718
    }
    departure {
      time: 1411044838
    }
    stop_id: "137S"
  }
  stop_time_update {
    arrival {
      time: 1411044928
    }
    departure {
      time: 1411044928
    }
    stop_id: "138S"
  }
  stop_time_update {
    arrival {
      time: 1411045018
    }
    departure {
      time: 1411045078
    }
    stop_id: "139S"
  }
  stop_time_update {
    arrival {
      time: 1411045228
    }
    stop_id: "140S"
  }
}

In [17]:
gtfs_r0.entity[1]

id: "000002"
vehicle {
  trip {
    trip_id: "047600_1..S02R"
    start_date: "20140918"
    route_id: "1"
  }
  current_stop_sequence: 35
  current_status: STOPPED_AT
  timestamp: 1411044718
  stop_id: "137S"
}

Case 2: a train that is `IN_TRANSIT_TO` to the first stop remaining in its trip sequence, with a bunch more stops to come.

In [33]:
parse_message_into_action_log(gtfs_r0.entity[24], gtfs_r0.entity[25], None)

,trip_id,route_id,action,stop_id,time_assigned,information_time
0,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,119N,1.411045e+09,None
1,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,119N,1.411045e+09,None
2,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,118N,1.411045e+09,None
3,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,118N,1.411045e+09,None
4,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,117N,1.411045e+09,None
5,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,117N,1.411045e+09,None
6,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,116N,1.411046e+09,None
7,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,116N,1.411046e+09,None
8,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,115N,1.411046e+09,None
9,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,115N,1.411046e+09,None
10,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,114N,1.411046e+09,None
11,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,114N,1.411046e+09,None
12,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,113N,1.411046e+09,None
13,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,113N,1.411046e+09,None
14,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,112N,1.411046e+09,None
15,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,112N,1.411046e+09,None
16,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,111N,1.411046e+09,None
17,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,111N,1.411046e+09,None
18,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,110N,1.411046e+09,None
19,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,110N,1.411046e+09,None
20,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,109N,1.411046e+09,None
21,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,109N,1.411046e+09,None
22,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,108N,1.411046e+09,None
23,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,108N,1.411046e+09,None
24,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,107N,1.411046e+09,None
25,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,107N,1.411046e+09,None
26,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,106N,1.411047e+09,None
27,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,106N,1.411047e+09,None
28,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,104N,1.411047e+09,None
29,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,104N,1.411047e+09,None
30,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,103N,1.411047e+09,None
31,050500_1..N02R,1,EXPECTED_TO_DEPART_AT,103N,1.411047e+09,None
32,050500_1..N02R,1,EXPECTED_TO_ARRIVE_AT,101N,1.411047e+09,None

Case 3: a train that has not yet departed from the first stop in its sequence (and hence doesn't have a vehicle update yet).

In [53]:
parse_message_into_action_log(gtfs_r0.entity[108], None, None)

,trip_id,route_id,action,stop_id,time_assigned,information_time
0,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,420N,1.411047e+09,None
1,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,419N,1.411047e+09,None
2,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,419N,1.411047e+09,None
3,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,418N,1.411047e+09,None
4,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,418N,1.411047e+09,None
5,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,640N,1.411047e+09,None
6,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,640N,1.411047e+09,None
7,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,635N,1.411047e+09,None
8,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,635N,1.411047e+09,None
9,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,631N,1.411048e+09,None
10,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,631N,1.411048e+09,None
11,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,629N,1.411048e+09,None
12,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,629N,1.411048e+09,None
13,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,626N,1.411048e+09,None
14,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,626N,1.411048e+09,None
15,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,621N,1.411048e+09,None
16,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,621N,1.411048e+09,None
17,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,416N,1.411048e+09,None
18,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,416N,1.411048e+09,None
19,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,222N,1.411049e+09,None
20,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,222N,1.411049e+09,None
21,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,221N,1.411049e+09,None
22,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,221N,1.411049e+09,None
23,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,213N,1.411049e+09,None
24,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,213N,1.411050e+09,None
25,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,212N,1.411050e+09,None
26,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,212N,1.411050e+09,None
27,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,211N,1.411050e+09,None
28,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,211N,1.411050e+09,None
29,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,210N,1.411050e+09,None
30,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,210N,1.411050e+09,None
31,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,209N,1.411050e+09,None
32,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,209N,1.411050e+09,None
33,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,208N,1.411050e+09,None
34,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,208N,1.411050e+09,None
35,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,207N,1.411050e+09,None
36,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,207N,1.411050e+09,None
37,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,206N,1.411050e+09,None
38,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,206N,1.411050e+09,None
39,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,205N,1.411050e+09,None
40,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,205N,1.411050e+09,None
41,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,204N,1.411051e+09,None
42,056600_5..N69R,5,EXPECTED_TO_DEPART_AT,204N,1.411051e+09,None
43,056600_5..N69R,5,EXPECTED_TO_ARRIVE_AT,201N,1.411051e+09,None

Case 4: a train is `EN_ROUTE` to the final stop in its trip sequence.

Case 5: a train is `STOPPED_AT` the final stop in its trip sequence.

Case 6: a train for some reason has a departure assigned to the final stop on its line.

This is a bad case that occurs at least once, and we have to pull up another record to find it.

In [67]:
with open("../src/tests/data/gtfs_realtime_pull_2.dat", "wb") as f:
    f.write(fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-17-09-36', raw=True))

In [68]:
from google.transit import gtfs_realtime_pb2

with open("../src/tests/data/gtfs_realtime_pull_2.dat", "rb") as f:
    gtfs_r1 = gtfs_realtime_pb2.FeedMessage()
    gtfs_r1.ParseFromString(f.read())

In [76]:
for i, message in enumerate(gtfs_r1.entity):
    if message.trip_update.trip.route_id != '':
        if str(message.trip_update.stop_time_update[-1].departure) != '':
            print(i)
            break

207

Here we go, the bad egg:

In [77]:
gtfs_r1.entity[207]

id: "000208"
trip_update {
  trip {
    trip_id: "049150_4..S40R"
    start_date: "20140917"
    route_id: "4"
  }
  stop_time_update {
    arrival {
      time: 1410960934
    }
    departure {
      time: 1410960934
    }
    stop_id: "250S"
  }
}

In [78]:
gtfs_r1.entity[208]

id: "000209"
vehicle {
  trip {
    trip_id: "049150_4..S40R"
    start_date: "20140917"
    route_id: "4"
  }
  current_stop_sequence: 27
  current_status: IN_TRANSIT_TO
  timestamp: 1410960882
  stop_id: "250S"
}

In [79]:
parse_message_into_action_log(gtfs_r1.entity[207], gtfs_r1.entity[208], None)

,trip_id,route_id,action,stop_id,time_assigned,information_time
0,049150_4..S40R,4,EXPECTED_TO_ARRIVE_AT,250S,1.410961e+09,None

From before..

In [3]:
gtfs_r = dict()

for n in range(0, 60, 5):
    print(n + 1)
    gtfs_r[n] = fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-18-09-' + str(1 + n).zfill(2))
    
print("Done!")

1
6
11
16
21
26
31
36
41
46
51
56
Done!