# About

This notebook looks after a practical consideration. Raw GTFS-R messages are too expensive to keep in memory, so we need to be able to merge trip logs if needed. This is a dev notebook for that.

In [2]:
import sys; sys.path.append("../src/")
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

%load_ext autoreload
%autoreload 2

gtfs_r = dict()

for n in range(0, 60, 5):
    print(n + 1)
    gtfs_r[n] = fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-18-09-' + str(1 + n).zfill(2))
    
print("Done!")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
1
6
11
16
21
26
31
36
41
46
51
56
Done!

TypeError: parse_feeds_into_trip_logbook() missing 1 required positional argument: 'information_dates'

In [5]:
from processing import parse_feeds_into_trip_logbook, mta_archival_time_to_unix_timestamp

ret1 = parse_feeds_into_trip_logbook([gtfs_r[0], gtfs_r[5]], 
                                  [mta_archival_time_to_unix_timestamp('2014-09-18-09-01'),
                                   mta_archival_time_to_unix_timestamp('2014-09-18-09-06')])

from processing import extract_synthetic_route_from_tripwise_action_logs, parse_message_into_action_log
from processing import parse_tripwise_action_logs_into_trip_log


ret2 = parse_feeds_into_trip_logbook([gtfs_r[0], gtfs_r[5], gtfs_r[10]], 
                                     [mta_archival_time_to_unix_timestamp('2014-09-18-09-01'),
                                      mta_archival_time_to_unix_timestamp('2014-09-18-09-06'),
                                      mta_archival_time_to_unix_timestamp('2014-09-18-09-11')])

In [30]:
from processing import join_trip_logs


join_trip_logs(ret2['043550_2..S'], ret1['043550_2..S'])

,index,trip_id,route_id,action,minimum_time,maximum_time,stop_id,latest_information_time
0,0,043550_2..S,2,STOPPED_OR_SKIPPED,1411045260,nan,247S,1411045260

In [10]:
ret1['043550_2..S']

,trip_id,route_id,action,minimum_time,maximum_time,stop_id,latest_information_time
0,043550_2..S,2,STOPPED_OR_SKIPPED,1411045260,nan,247S,1411045260