In [1]:
import sys; sys.path.append("../src/")
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

In [2]:
%load_ext autoreload
%autoreload 2

In [4]:
from processing import parse_message_into_action_log

In [33]:
from google.transit import gtfs_realtime_pb2

with open("../src/tests/data/gtfs_realtime_pull_1.dat", "rb") as f:
    gtfs_r0 = gtfs_realtime_pb2.FeedMessage()
    gtfs_r0.ParseFromString(f.read())

In [103]:
parse_message_into_action_log(gtfs_r0.entity[0], gtfs_r0.entity[1], None)

,trip_id,route_id,information_time,action,stop_id,time_assigned
0,047600_1..S02R,1,None,STOPPED_AT,137S,1411044718
1,047600_1..S02R,1,None,EXPECTED_TO_ARRIVE_AT,138S,1411044928
2,047600_1..S02R,1,None,EXPECTED_TO_DEPART_AT,138S,1411044928
3,047600_1..S02R,1,None,EXPECTED_TO_ARRIVE_AT,139S,1411045018
4,047600_1..S02R,1,None,EXPECTED_TO_DEPART_AT,139S,1411045078
5,047600_1..S02R,1,None,EXPECTED_TO_ARRIVE_AT,140S,1411045228

In [99]:
i = 0

In [102]:
i += 2

parse_message_into_action_log(gtfs_r1.entity[i], gtfs_r1.entity[i + 1], None)

,trip_id,route_id,information_time,action,stop_id,time_assigned
0,052250_1..N02R,1,None,STOPPED_AT,106N,1410960945
1,052250_1..N02R,1,None,EXPECTED_TO_ARRIVE_AT,104N,1410961035
2,052250_1..N02R,1,None,EXPECTED_TO_DEPART_AT,104N,1410961035
3,052250_1..N02R,1,None,EXPECTED_TO_ARRIVE_AT,103N,1410961125
4,052250_1..N02R,1,None,EXPECTED_TO_DEPART_AT,103N,1410961245
5,052250_1..N02R,1,None,EXPECTED_TO_ARRIVE_AT,101N,1410961335

In [94]:
i

12

In [81]:
gtfs_r0.entity[15].vehicle.current_status = 1

In [82]:
gtfs_r0.entity[15]

id: "000016"
vehicle {
  trip {
    trip_id: "049450_1..S08R"
    start_date: "20140918"
    route_id: "1"
  }
  current_stop_sequence: 26
  current_status: STOPPED_AT
  timestamp: 1411045187
  stop_id: "140S"
}

In [85]:
parse_message_into_action_log(gtfs_r0.entity[14], gtfs_r0.entity[15], None)

,trip_id,route_id,information_time,action,stop_id,time_assigned
0,049450_1..S08R,1,None,EXPECTED_TO_ARRIVE_AT,140S,1411045326

In [86]:
from google.transit import gtfs_realtime_pb2

with open("../src/tests/data/gtfs_realtime_pull_2.dat", "rb") as f:
    gtfs_r1 = gtfs_realtime_pb2.FeedMessage()
    gtfs_r1.ParseFromString(f.read())

In [113]:
gtfs_r = dict()

for n in range(0, 60, 5):
    print(n + 1)
    gtfs_r[n] = fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-18-09-' + str(1 + n).zfill(2))
    
print("Done!")

1
6
11
16
21
26
31
36
41
46
51
56
Done!

In [117]:
gtfs_r[n].entity[0].trip_update.stop_time_update

[arrival {
  time: 1411048585
}
stop_id: "140S"
]

In [119]:
gtfs_r[n].entity[0].trip_update.stop_time_update[0].arrival

time: 1411048585

In [120]:
hasattr(gtfs_r[n].entity[0].trip_update.stop_time_update[0], 'arrival')

True

In [126]:
gtfs_r[n].entity[50].trip_update.stop_time_update[1]

arrival {
  time: 1411048697
}
departure {
  time: 1411048697
}
stop_id: "104S"

In [148]:
for n in range(0, 60, 5):
    for i, message in enumerate(gtfs_r[n].entity):
        for k, update in enumerate(message.trip_update.stop_time_update):
            if str(update.arrival) != "" and str(update.departure) == "" and k != 0 and k != len(message.trip_update.stop_time_update) - 1:
                print("DONE!")
                print(update)
                import pdb; pdb.set_trace()
                raise ValueError

DONE!
arrival {
  time: 1411046728
}
stop_id: "234S"

> <ipython-input-148-c1bc6f33c5ab>(8)<module>()
-> raise ValueError
(Pdb) n
ValueError
> <ipython-input-148-c1bc6f33c5ab>(8)<module>()
-> raise ValueError
(Pdb) !n
0
(Pdb) i
109
(Pdb) k
10
(Pdb) q

BdbQuit:

In [147]:
with open("../src/tests/data/gtfs_realtime_pull_8.dat", "wb") as f:
    f.write(fetch_archival_gtfs_realtime_data(kind='gtfs', timestamp='2014-09-18-09-' + str(1 + 40).zfill(2), raw=True))

In [157]:
gtfs_r[0].entity[109].trip_update.stop_time_update[10]

arrival {
  time: 1411046728
}
stop_id: "234S"

In [ ]:
gtfs_r[40]

In [144]:
gtfs_r[40].entity[99].trip_update.stop_time_update[17]

departure {
  time: 1411050304
}
stop_id: "213N"