In [1]:
import sys; sys.path.append("../src/")
from processing import fetch_archival_gtfs_realtime_data, parse_gtfs_into_action_log

In [2]:
%load_ext autoreload
%autoreload 2

In [4]:
from processing import parse_message_into_action_log

In [33]:
from google.transit import gtfs_realtime_pb2

with open("../src/tests/data/gtfs_realtime_pull_1.dat", "rb") as f:
    gtfs_r0 = gtfs_realtime_pb2.FeedMessage()
    gtfs_r0.ParseFromString(f.read())

In [10]:
parse_message_into_action_log(gtfs_r0.entity[0], gtfs_r0.entity[1], None)

,trip_id,route_id,information_time,action,stop_id,time_assigned
0,047600_1..S02R,1,None,STOPPED_AT,137S,1411044718
1,047600_1..S02R,1,None,EXPECTED_TO_ARRIVE_AT,138S,1411044928
2,047600_1..S02R,1,None,EXPECTED_TO_DEPART_AT,138S,1411044928
3,047600_1..S02R,1,None,EXPECTED_TO_ARRIVE_AT,139S,1411045018
4,047600_1..S02R,1,None,EXPECTED_TO_DEPART_AT,139S,1411045078
5,047600_1..S02R,1,None,EXPECTED_TO_ARRIVE_AT,140S,1411045228

In [76]:
i = 0

In [77]:
i += 2

parse_message_into_action_log(gtfs_r0.entity[i], gtfs_r0.entity[i + 1], None)

,trip_id,route_id,information_time,action,stop_id,time_assigned
0,048150_1..S07R,1,None,STOPPED_AT,136S,1411044793
1,048150_1..S07R,1,None,EXPECTED_TO_ARRIVE_AT,137S,1411044883
2,048150_1..S07R,1,None,EXPECTED_TO_DEPART_AT,137S,1411045003
3,048150_1..S07R,1,None,EXPECTED_TO_ARRIVE_AT,138S,1411045093
4,048150_1..S07R,1,None,EXPECTED_TO_DEPART_AT,138S,1411045093
5,048150_1..S07R,1,None,EXPECTED_TO_ARRIVE_AT,139S,1411045183
6,048150_1..S07R,1,None,EXPECTED_TO_DEPART_AT,139S,1411045243
7,048150_1..S07R,1,None,EXPECTED_TO_ARRIVE_AT,140S,1411045393

In [81]:
gtfs_r0.entity[15].vehicle.current_status = 1

In [82]:
gtfs_r0.entity[15]

id: "000016"
vehicle {
  trip {
    trip_id: "049450_1..S08R"
    start_date: "20140918"
    route_id: "1"
  }
  current_stop_sequence: 26
  current_status: STOPPED_AT
  timestamp: 1411045187
  stop_id: "140S"
}

In [85]:
parse_message_into_action_log(gtfs_r0.entity[14], gtfs_r0.entity[15], None)

,trip_id,route_id,information_time,action,stop_id,time_assigned
0,049450_1..S08R,1,None,EXPECTED_TO_ARRIVE_AT,140S,1411045326